
p {
    background-color: rgb(255, 255, 54);
}

.main-title {
    background-color: rgb(45, 199, 250);
}

#somediv {
    background-color: lightcoral;
}

[data-info] {
    background-color: lightgreen;
}

.block1 .block2 {
    background-color: lightsalmon;
}

div > p {
    background-color: lightpink;
}

.block .highlight {
    background-color: lightseagreen;
}

h2.subtitle {
    background-color: plum;
}

div[data-type] {
    background-color: rgb(221, 17, 17);
}

p#intro-text {
    background-color: rgb(188, 80, 192);
}

.wrapper .content p {
    background-color: lightskyblue;
}

section#main-section .container .header-title {
    background-color: lightsteelblue;
}